<form (ngSubmit)="salvar(f)" #f="ngForm">

    <div class="col-md-6 offset-md-3">
    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" class="form-control"  name="nome" ngModel required >
    </div>
y

    <div>
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" class="form-control"  name="telefone" ngModel required >
    </div>

    <div>
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" class="form-control" name="endereco" ngModel required >
    </div>
    <br>
   
</div>

</form>

